a.item_sublink{
    padding: 0.25rem 0.6rem;
}
.login-button {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button img {
    display: block;
}

.login-button.login-fb img {
    width: 20px;
    margin: 8px
}

.login-button.login-gg img {
    width: 34px;
}

.login-fb {
    background-color: #1877f2;
    border: none
}

.login-fb .solid,
.login-gg .solid {
    display: inline-block;
    vertical-align: middle;

}

.login-fb .text {
    color: #fff
}

.login-gg .text {
    color: #6f6f6f
}

.login-fb .text,
.login-gg .text {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 1rem;
    border-radius: 4px;
    font-weight: bold;
}
.ads img{
    max-width: 100%;
}
.col-center .ads,.col-right .ads{
    margin-top: 0;
}
.dientoan-ball li span {
    padding: 5px;
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 32px;
    -moz-border-radius: 32px;
    -webkit-border-radius: 32px;
    border-color: #ea7702;
    background: linear-gradient(to bottom, #FED4B9 0%, #F87823 100%);
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    font-weight: bold;
    width: auto;
    min-width: 40px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.dientoan-ball li {
    text-align: center
}
.so-dauduoi {
    padding: 5px 5px 5px 5px;
    width: 100%;
    display: table
}

.so-dauduoi .row {
    display: table-row;
}

.so-dauduoi .row div {
    display: table-cell;
    border: 1px solid #ddd;
}

.so-dauduoi .row div:nth-child(odd) {
    width: 30%
}

.so-dauduoi .row div:nth-child(even) {
    width: 40%
}