/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs
/storage/framework/views/*.php
/storage/debugbar
/vendor
/.vscode
sftp-config.json
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/__commentRS
/public/__tech5sPromotion
/public/sitemap.xml
/public/sitemap
/packages/example_packages
/packages/comment
/packages/multiplechoicequestions
/packages/tech5sMarketing
/public/managequestion
/public/__example
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.editorconfig
composer.lock
cronmail.lock
public/robots.txt
public/web.config